<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale=1">
	<title>home</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/home_style.css">
	
</head>
<body>
	<header>
		<div class="top">
			<div class="container">
				<div class="top_content">
					<div class="left">
						<span class="logo">
							<a href="./home.html"><img src="../images/logo1.png"></a>
						</span>
						<div class="search">
							<form method="GET" action="#">
								<input type="text" name="keyword" placeholder="Nhập tên truyện cần tìm kiếm">
								<button type="submit"><i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
					<div class="right">
						<div class="top_link">
							<ul>
								<li><a href="#">Lịch sử</a></li>
								<li><a href="#">Theo dõi</a></li>
								<li><a href="#">Tải App<i class="fas fa-mobile-alt"></i></a></li>
							</ul>
						</div>
						<div class="login_button">
							<button class="login">Đăng nhập</button>
							<button class="register">Đăng ký</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot">
			<div class="container">
				<div class="top_content">
					<div class="menu">
						<ul>
							<li><a href="./home.html">Trang chủ</a></li>
							<li>
								<a class="blue" href="./category.html">Thể loại</a>
								<i class="fas fa-chevron-down"></i>
								<div class="sub-menu">
									<ul class="sub-menu-col">
										<li><a href="#">Action</a></li>						
										<li><a href="#">Comedy</a></li>
										<li><a href="#">Drama</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">Detective</a></li>
										<li><a href="#">Fantasy</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">Horror</a></li>
										<li><a href="#">Manhua</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">Mature</a></li>
										<li><a href="#">Romance</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">Shoujo</a></li>
										<li><a href="#">Shounen</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">Slice of Life</a></li>
										<li><a href="#">Sport</a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">List truyện</a>
								<i class="fas fa-chevron-down"></i>
								<div class="sub-menu">
									<ul class="sub-menu-col">
										<li><a href="#">TOP Ngày</a></li>
										<li><a href="#">TOP Tuần</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">TOP Tháng</a></li>
										<li><a href="#">Yêu thích</a></li>
									</ul>
									<ul class="sub-menu-col">
										<li><a href="#">Mới cập nhập</a></li>
										<li><a href="#">Truyện full</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Lịch sử</a></li>
							<li><a href="#">Fanpage</a></li>
							<li><a href="#">Tìm truyện</a></li>
							<li><a href="#">Contacts</a></li>
						</ul>
						<
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="table_panel">
			<div class="container">
				<div class="table_content">
					<div class="collumn lv2">
						<div class="item">
							<a href="./product.html"><img class="slide_cover" src="../images/slide.jpg"></a>
							<div class="shadow_area"></div>
							<div class="item_title">
								<h3>One Piece</h3>
							</div>
						</div>
						<div class="item">
							<a href="./product.html"><img class="slide_cover" src="../images/slide3.jpg"></a>
							<div class="shadow_area"></div>
							<div class="item_title">
								<h3>Dragon Ball</h3>
							</div>
						</div>
					</div>
					<div class="collumn ">
						<div class="item lv2">
							<a href="./product.html"><img class="slide_cover" src="../images/slide2.jpg"></a>
							<div class="shadow_area"></div>
							<div class="item_title">
								<h3>One Punch Man</h3>
							</div>
						</div>
					</div>
					<div class="collumn lv2">
						<div class="item">
							<a href="./product.html"><img class="slide_cover" src="../images/slide3.jpg"></a>
							<div class="shadow_area"></div>
							<div class="item_title">
								<h3>Dragon Ball</h3>
							</div>
						</div>
						<div class="item">
							<a href="./product.html"><img class="slide_cover" src="../images/slide.jpg"></a>
							<div class="shadow_area"></div>
							<div class="item_title">
								<h3>One Piece</h3>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div> 
		<div class="border_bot">
			<div class="container">
				<hr/>
			</div>
		</div>
		<div class="main">
			<div class="container">
				<div class="main_content">
					<div class="caption">
						<i class="fas fa-list-ul"></i>
						<a href="#"></i>Truyện mới cập nhập</a>
					</div>
					<ul class="list-stories grid-6">
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg1.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>										
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg2.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>										
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg3.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg4.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg5.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg6.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg7.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg8.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg9.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg11.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="border_bot">
			<div class="container">
				<hr/>
			</div>
		</div>
		<div class="main">
			<div class="container">
				<div class="main_content">
					<div class="caption">
						<i class="fas fa-list-ul"></i>
						<a href="#"></i>Truyện HOT</a>
					</div>
					<ul class="list-stories grid-6">
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg1.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>										
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg2.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>										
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg3.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg4.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg5.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg6.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg7.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg8.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg9.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg10.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
						<li>
							<div class="story-item">
								<a href="./product.html"><img class="story-cover" src="../images/bg11.jpg"></a>
								<div class="top-noitice">
									<span class="time-ago">1 day ago</span>
								</div>
								<h3 class="title-book"><a href="./product.html">Tên truyện</a></h3>
								<div class="lastest-episode">
									<a href="#">Chương 1</a>
								</div>
								<div class="more-info">
									<div class="title-more">Tên truyện:</div>
									<div class="title-more-other">Tên khác:</div>
									<p class="info">Tình trạng:</p>
									<p class="info">Lượt xem:</p>
									<p class="info">Lượt theo dõi:</p>
									<div class="list-tag">
										<a class="blue" href="#">Thể loại</a>
									</div>
									<div class="excerpt">Nội dung</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="footer">
			<div class="footer_content">
				<div class="container">
					<div class="top">
						<ul>
							<li>
								<span>Thể loại</span>
								<ul>
									<li><a href="#">Action</a></li>
									<li><a href="#">Comedy</a></li>
									<li><a href="#">Drama</a></li>
									<li><a href="#">Romance</a></li>
									<li><a href="#">Shoujo</a></li>
									<li><a href="#">Shounen</a></li>
								</ul>
							</li>
							<li>
								<span>List Truyện</span>
								<ul>
									<li><a href="#">TOP Ngày</a></li>
									<li><a href="#">TOP Tuần</a></li>
									<li><a href="#">TOP Tháng</a></li>
									<li><a href="#">Yêu thích</a></li>
									<li><a href="#">Mới cập nhập</a></li>
									<li><a href="#">Truyện full</a></li>
								</ul>
							</li>
							<li>
								<span>Support</span>
								<ul>
									<li><a href="#">Troobleshooting</a></li>
									<li><a href="#">F&A</a></li>
									<li><a href="#">Báo cáo</a></li>
									<li><a href="#">Get Help</a></li>
								</ul>
							</li>
							<li>
								<span>Liên hệ</span>
								<ul>
									<li><a href="#">Fanpage</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact</a></li>
									<li><a href="#">Mail</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="footer_content_bot">
				<div class="container">
					<div class="bot">
						<div class="left">
							<span class="logo">
								<img src="../images/logo1.png">
							</span>
							<div>&copy; 2021 Copyright by FoxComics&trade;<br>
								ad.foxcomics@gmail.com
							</div>
						</div>
						<div class="right">
							<ul>
								<li>Design by ThanhDo</li>
								<li>Dev by ThanhDo</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>